## Content

1. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#more-on-lists"> List </A>
2. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences"> Tuple </A>
3. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#dictionaries"> Dictionary </A>
4. <A HREF="https://docs.python.org/3/tutorial/datastructures.html#sets"> Set </A>
5. <A HREF="https://realpython.com/python-counter/"> Counter </A>

## <font color="green">1. List</font>

### Exercise 1.1

Create `cleared_python_text` by removing all non-letter symbols from the given string `python_text`. Convert to lower case. Create a list of words `python_words`. Print the length of the list.

Hints: str.split, str.replace

In [ ]:
python_text = """
Python is an interpreted high-level general-purpose programming language. Python's design 
philosophy emphasizes code readability with its notable use of significant indentation. Its 
language constructs as well as its object-oriented approach aim to help programmers write clear, 
logical code for small and large-scale projects. Python is dynamically-typed and 
garbage-collected. It supports multiple programming paradigms, including structured (particularly, 
procedural), object-oriented and functional programming. Python is often described as a "batteries 
included" language due to its comprehensive standard library. Guido van Rossum began working on 
Python in the late 1980s, as a successor to the ABC programming language, and first released it in 
1991 as Python 0.9.0. Python 2.0 was released in 2000 and introduced new features, such as list 
comprehensions and a garbage collection system using reference counting. Python 3.0 was released in 
2008 and was a major revision of the language that is not completely backward-compatible and much 
Python 2 code does not run unmodified on Python 3. Python 2 was discontinued with version 2.7.18 in 
2020. Python consistently ranks as one of the most popular programming 
languages.
"""

In [ ]:
# your code here

### Exercise 1.2

Print all sublists of the list `nucleotides`. Note: [a, c] is a sublist for [a, b, c].

Sample input: `[0, 1]`

Sample output:
*   []
*   [0]
*   [1]
*   [0, 1]

In [ ]:
nucleotides = ['A', 'T', 'G', 'C']

In [ ]:
# your code here

### Exercise 1.3

With list comprehensions create matrix $N \times N$ containing squares of integers starting from $0$. First the first column is filled, then the second, and so on.

In [ ]:
# your code here

In [ ]:
# sample output
# [[0, 9, 36]
# [1, 16, 49]
# [4, 25, 64]]

### Exercise 1.4

Create 'decoded' list from 'encoded'

Example: 

```encode_list = [0, [1, 2], 4, [1, 0, 3]]```

```decode_list = [0, 1, 2, 4, 1, 0, 3]```

In [ ]:
# your code here

## <font color="green">2. Tuple</font>

### Exercise 2.1

Convert string to tuple

In [ ]:
input_str = input('Input string: ')
# your code here

### Exercise 2.2

Calculate the sum and average for each tuple in the given list. Return a list of `(sum, mean)` tuples

In [ ]:
list_of_tuples = [(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]
# your code here

### Exercise 2.3

Given a list (create one for tests) with strings "name number". Return a tuple of tuples ("name", number) sorted in decreasing order by number. For same numbers sort alphabetically.

In [ ]:
# your code here

### Exercise 2.4

Generate a list with equal length tuples with numbers. Return tuple with element-wise sums.


Sample input: ```[(1, 5), (1, 7), (2, 8)]```

Sample output: ```(4, 20)```

In [ ]:
# your code here

## <font color="green">3. Dictionary</font>

### Exercise 3.1

Write a program to merge several dictionaries into one. If the keys match, then leave the last encountered element.

In [ ]:
dict_1 = {'key1': 10, 'key2': 20}
dict_2 = {'key3': 30, 'key4': 40}
dict_3 = {'key1': 50, 'key5': 60}

# your code here

### Exercise 3.2

Write a program to merge several dictionaries into one. If the keys match, then leave the first encountered element.

In [ ]:
dict_1 = {'key1': 10, 'key2': 20}
dict_2 = {'key3': 30, 'key4': 40}
dict_3 = {'key1': 50, 'key5': 60}

# your code here

### Exercise 3.3

The input is a string `cleared_python_text`. Print the character dictionary of this string. The value is the number of occurrences. Don't use `collections`

In [ ]:
# your code here

### Exercise 3.4

Create dictionary `{"word": occurrences}` from `python_words`. Print the most common word and the number of occurrences. Don't use `collections`

In [ ]:
# your code here

## <font color="green">4. Set</font>

### Exercise 4.1

Input:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Return set of common elements.

Hint: theme name)

In [ ]:
# your code here

### Exercise 4.2

Generate random sequence `numbers` with 20 integers >=0 and < 100. Check if numbers are unic.

In [ ]:
from random import randint
# your code here

### Exercise 4.3

Generate two lists like in the previous ex. Print all numbers that meet only once.

In [ ]:
# your code here

### Exercise 4.4

Print min and max of the given set.

In [ ]:
my_set = {i ** 2 // 5 for i in range(100)}
# your code here

## <font color="green">5. Counter</font>

In [ ]:
from collections import Counter

### Exercise 5.1

Use Counter to do number 3.3

In [ ]:
# your code here

### Exercise 5.2

Use Counter to do number 3.3

In [ ]:
# your code here